.confirmation-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .confirmation-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .confirmation-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .confirm-button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
  }
  
  .confirm-button:hover {
    background-color: #007f67;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
  }
  
  .cancel-button:hover {
    background-color: #999;
  }
  